SECRET_KEY=''
ALGORITHM=''
ENVIRONMENT=""

# Postgresql
DATABASE_URL=''
DATABASE_SCHEMA=''
MESSAGING_URL=''
# Redis
REDIS_URL=''
DB_HOST_REDIS=''
DB_PORT_REDIS=''
DB_REDIS=''

MELHOR_ENVIO_TOKEN=''

MERCADO_PAGO_TOKEN=''
WEBHOOK_SECRET=''

CATALOG_API_BASE_URL=''
ACCOUNTS_API_BASE_URL=''

NGROK_TOKEN=''